<meta name="referrer" content="never">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<title>后台管理</title>
<link rel="stylesheet" href="__STATIC__/fontawesome@5.6.3/css/all.min.css">
<link rel="stylesheet" href="__STATIC__/element-ui@2.4.11/index.css">
<link rel="stylesheet" href="__STATIC__/element-ui@2.4.11/display.css">
<script src="__STATIC__/vue@2.5.21/vue.min.js"></script>
<script src="__STATIC__/element-ui@2.4.11/index.js"></script>
<script src="__STATIC__/axios@0.18.0/axios.min.js"></script>
<link rel="stylesheet" href="__STATIC__/nprogress@0.2.0/nprogress.css">
<script src="__STATIC__/nprogress@0.2.0/nprogress.js"></script>
<script>
    axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
</script>
