<script type="text/html">
    <el-scrollbar class="main-scrollbar">
        {include file="public/breadcrumb" /}
        <div class="main">
            <el-row>
                <el-col :span="24">
                    <el-card shadow="hover">
                        <div slot="header" class="card-header">
                            <div class="left-info">
                                <a href="#{:url('cms_article/add')}">
                                    <el-button type="primary" icon="el-icon-plus">添加内容</el-button>
                                </a>
                                <el-dropdown @command="handleCommand" trigger="click">
                                    <el-button>
                                        更多操作<i class="el-icon-arrow-down el-icon--right"></i>
                                    </el-button>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item command="dels">批量删除</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </div>
                            <div class="search">
                                <el-form :inline="true" :model="search">
                                    <el-form-item label="">
                                        <el-input v-model="search.q" placeholder="关键字"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="onSearch">查询</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>

                        <el-table ref="multipleTable" :data="list" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                            <el-table-column type="expand" v-if="_xs" width="20">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="table-expand">
                                        <el-form-item label="标题">
                                            <a href="" target="_blank"> <span class="el-icon-picture" v-if="props.row.thumb"></span> {{ props.row.title }}</a>
                                        </el-form-item>
                                        <el-form-item label="添加时间">
                                            <span>{{ props.row.addtime }}</span>
                                        </el-form-item>
                                        <el-form-item label="状态">
                                            <el-tag size="small" v-if="props.row.show==1" type="success">是</el-tag>
                                            <el-tag size="small" v-else type="danger">否</el-tag>
                                        </el-form-item>
                                        <el-form-item label="操作">
                                            <el-button size="mini" type="text" @click="edit(props.row)">编辑</el-button>
                                            <el-button size="mini" type="text" @click="del(props.row)">删除</el-button>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-table-column>
                            <el-table-column type="selection" width="40"></el-table-column>
                            <el-table-column prop="id" label="ID" width="50"></el-table-column>
                            <el-table-column prop="sort" label="权重" width="45"></el-table-column>
                            <el-table-column label="标题" show-overflow-tooltip>
                                <template slot-scope="props">
                                    <a href="" target="_blank"> <span class="el-icon-picture" v-if="props.row.thumb"></span> {{ props.row.title }}</a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="addtime" label="添加时间" width="160" v-if="!xs"></el-table-column>
                            <el-table-column label="显示" width="120" v-if="!xs">
                                <template slot-scope="props">
                                    <el-tag size="small" v-if="props.row.show==1" type="success">是</el-tag>
                                    <el-tag size="small" v-else type="danger">否</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="操作" width="100" v-if="!xs">
                                <template slot-scope="props">
                                    <el-button size="mini" type="text" @click="edit(props.row)">编辑</el-button>
                                    <el-button size="mini" type="text" @click="del(props.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div id="pages" v-if="total">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="currentPage"
                                    :page-sizes="pageConfig.pageSizes"
                                    :page-size="pageConfig.pageSize"
                                    :pager-count="pageConfig.pageCount"
                                    :layout="pageConfig.layout"
                                    :total="total">
                            </el-pagination>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </el-scrollbar>
</script>
<script>
    var __component__ = {
        template: '__TEMPLATE__',
        data: function () {
            return {
                xs: _xs,
                total: 0,
                search: {
                    q: '',
                },
                pageConfig: _pageConfig,
                currentPage: 1,
                list: [],
                multipleSelection: []
            }
        },
        methods: {
            edit: function (row) {
                window.location.hash = '{:url("cms_article/edit")}?id=' + row.id;
            },
            del: function (row) {
                var _this = this;
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function (res) {
                    axios.post('{:url("cms_article/del")}', {
                        id: row.id
                    }).then(function (res) {
                        if (res.code == 1) {
                            _this.currentPage = 1;
                            _this.getList();
                        }
                    });
                }).catch(function () {
                });
            },
            dels: function () { //批量删除
                var _this = this;
                var _ids = [];
                for (var _i in this.multipleSelection) {
                    var _item = _this.multipleSelection[_i]['id'];
                    _ids.push(_item);
                }
                if (_ids.length == 0) {
                    _this.$message.error('未勾选任何数据');
                    return;
                }
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function (res) {
                    axios.post('{:url("cms_article/del")}', {
                        ids: _ids
                    }).then(function (res) {
                        _this.currentPage = 1;
                        _this.getList();
                    });
                }).catch(function () {
                });
            },
        },
        beforeMount: function () {
            _init(this);
            this.getList();
        },
        mounted: function () {
        },
    };
    vm.APP = __component__;
    NProgress.done();
</script>



