<script type="text/html">
    <el-scrollbar class="main-scrollbar">
        {include file="public/breadcrumb" /}
        <div class="main">
            <el-row>
                <el-col :span="24">
                    <el-card shadow="hover">
                        <el-form :model="dataForm" :rules="rules" ref="dataForm" label-width="100px">
                            <el-form-item label="角色名" prop="name">
                                <el-input v-model="dataForm.name"></el-input>
                            </el-form-item>
                            <el-form-item label="描述" prop="description">
                                <el-input type="textarea" v-model="dataForm.description"></el-input>
                            </el-form-item>
                            <el-form-item label="锁定" prop="lock">
                                <el-switch v-model="dataForm.lock" :inactive-value="0" :active-value="1"></el-switch>
                            </el-form-item>
                            <el-form-item label="原因" prop="lock_msg">
                                <el-input type="textarea" v-model="dataForm.lock_msg"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="postForm()">提交</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </el-scrollbar>
</script>
<script>
    var __component__ = {
        template: '__TEMPLATE__',
        data: function () {
            return {
                xs: _xs,
                loading: false,
                apiData: {},
                dataForm: {},
                rules: {
                    name: [
                        {required: true, message: '请输入角色名', trigger: 'blur'},
                    ]
                }
            }
        },
        methods: {},
        beforeMount: function () {
            _init(this);
            this.getData()
        },
        mounted: function () {},
    };
    vm.APP = __component__;
    NProgress.done();
</script>



