<script type="text/html">
    <el-scrollbar class="main-scrollbar">
        {include file="public/breadcrumb" /}
        <div class="main">
            <el-row>
                <el-col :span="24">
                    <el-card shadow="hover">
                        <div slot="header" class="card-header">
                            <div class="left-info">
                                <a href="#{:url('role/add')}">
                                    <el-button type="primary" icon="el-icon-plus">添加角色</el-button>
                                </a>
                            </div>
                            <div class="search">
                                <el-form :inline="true" :model="search">
                                    <el-form-item label="">
                                        <el-input v-model="search.q" placeholder="角色名"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" @click="onSearch">查询</el-button>
                                    </el-form-item>
                                </el-form>
                            </div>
                        </div>

                        <el-table ref="multipleTable" :data="list" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                            <el-table-column type="expand" v-if="_xs">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="table-expand">
                                        <el-form-item label="角色名">
                                            <span>{{ props.row.name }}</span>
                                        </el-form-item>
                                        <el-form-item label="成员">
                                            <span>{{ props.row.admin_count }}</span>
                                        </el-form-item>
                                        <el-form-item label="描述">
                                            <span>{{ props.row.description }}</span>
                                        </el-form-item>
                                        <el-form-item label="状态">
                                            <el-tag size="small" v-if="props.row.lock==0" type="success">激活</el-tag>
                                            <el-tag size="small" v-else type="danger">锁定</el-tag>
                                        </el-form-item>
                                        <el-form-item label="锁定原因">
                                            <span>{{ props.row.lock_msg }}</span>
                                        </el-form-item>
                                        <el-form-item label="操作">
                                            <el-button size="mini" type="text" @click="auth(props.row)" :disabled="props.row.id > 1 ? false : true">权限</el-button>
                                            <el-button size="mini" type="text" @click="edit(props.row)" :disabled="props.row.id > 1 ? false : true">编辑</el-button>
                                            <el-button size="mini" type="text" @click="del(props.row)" :disabled="props.row.id > 1 ? false : true">删除</el-button>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-table-column>
                            <el-table-column type="selection" width="40"></el-table-column>
                            <el-table-column prop="id" label="ID" width="80"></el-table-column>
                            <el-table-column prop="name" label="角色名" :width="xs ? '' : 150"></el-table-column>
                            <el-table-column prop="admin_count" label="成员" width="120" v-if="!xs"></el-table-column>
                            <el-table-column prop="description" label="描述" show-overflow-tooltip v-if="!xs"></el-table-column>
                            <el-table-column label="状态" width="120" v-if="!xs">
                                <template slot-scope="props">
                                    <el-tag size="small" v-if="props.row.lock==0" type="success">激活</el-tag>
                                    <el-tag size="small" v-else type="danger">锁定</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column prop="lock_msg" label="锁定原因" show-overflow-tooltip v-if="!xs"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="160" v-if="!xs">
                                <template slot-scope="props">
                                    <el-button size="mini" type="text" @click="auth(props.row)" :disabled="props.row.id > 1 ? false : true">权限</el-button>
                                    <el-button size="mini" type="text" @click="edit(props.row)" :disabled="props.row.id > 1 ? false : true">编辑</el-button>
                                    <el-button size="mini" type="text" @click="del(props.row)" :disabled="props.row.id > 1 ? false : true">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div id="pages" v-if="total">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="currentPage"
                                    :page-sizes="pageConfig.pageSizes"
                                    :page-size="pageConfig.pageSize"
                                    :pager-count="pageConfig.pageCount"
                                    :layout="pageConfig.layout"
                                    :total="total">
                            </el-pagination>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </el-scrollbar>
</script>
<script>
    var __component__ = {
        template: '__TEMPLATE__',
        data: function () {
            return {
                xs: _xs,
                total: 0,
                search: {
                    q: ''
                },
                pageConfig: _pageConfig,
                currentPage: 1,
                list: [],
                multipleSelection: []
            }
        },
        methods: {
            auth: function (row) {
                window.location.hash = '{:url("role/auth")}?id=' + row.id;
            },
            edit: function (row) {
                window.location.hash = '{:url("role/edit")}?id=' + row.id;
            },
            del: function (row) {
                var _this = this;
                this.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function (res) {
                    axios.post('{:url("role/del")}', {
                        id: row.id
                    }).then(function (res) {
                        if (res.code == 1) {
                            _this.currentPage = 1;
                            _this.getList();
                        }
                    });
                }).catch(function () {
                });
            },
        },
        beforeMount: function () {
            _init(this);
            this.getList();
        },
        mounted: function () {
        },
    };
    vm.APP = __component__;
    NProgress.done();
</script>



