<!doctype html>
<html class="agent-mobile theme-wblue" style="font-size: 10px;"><head>
    <meta charset="utf-8">
    <title>佛州地产专家 Lisa Ma 马琳</title>
    <meta name="keywords" content="美国房产,奥兰多度假屋,佛罗里达房产,奥兰多房产,奥兰多管理公司,佛罗里达地产学校">
    <meta name="description" content="麒麟地产创始于美国佛罗里达州，现年平均交易额已超过一亿美元，管理近千套长租短租房屋，在国内外均设有分公司，已成为当地房产服务行业的领头羊。我们拥有上百位经纪人和专职房屋管理人员，主要经营房屋买卖、长租管理、度假屋短租管理、中文地产学校和房产开发五个板块，多年来一直致力于用最专业的经验知识为广大海内外华人服务，为客户朋友提供最新鲜，最真诚的房产资讯。在提供专业的售前，售中服务的同时，还有保险，出租等一站式的售后服务，为投资和自住者量体裁衣，提供适合不同个体的房屋购买方案。麒麟地产，圆您海外置业的梦想。">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="/static/mobile_agent/css/lib.css">
    <link rel="stylesheet" type="text/css" href="/static/mobile_agent/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/mobile_agent/css/wblue.css" id="themeCssPath">
    <link rel="stylesheet" type="text/css" href="/static/mobile_agent/css/3785.css">
    <script type="text/javascript" src="/static/mobile_agent/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/mobile_agent/js/mmen.js" data-main="indexMain"></script>
    <style>
        .pager {
            padding-left: 0;
            margin: 0 15px 40px;
            list-style: none;
            text-align: center
        }

        .pager li {
            display: inline
        }

        .pager li > a, .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 15px
        }

        .pager li > a:focus, .pager li > a:hover {
            text-decoration: none;
            background-color: #eee
        }

        .pager .next > a, .pager .next > span {
            float: right
        }

        .pager .previous > a, .pager .previous > span {
            float: left
        }

        .pager .disabled > a, .pager .disabled > a:focus, .pager .disabled > a:hover, .pager .disabled > span {
            color: #777;
            background-color: #fff;
            cursor: not-allowed
        }

        .pager:after {
            content: "";
            display: block;
            width: 100%;
            height: 1%;
            clear: both;
        }

        .postbody img {
            max-width: 100% !important;
            height: auto !important;
        }
        .agentBox {
            position: relative;
            z-index: 9998;
            height: 70px;
            width: 100%;
            background: url("/static/mobile_agent/images/bg.jpg") no-repeat 0 0;
            background-size: 100% 100%;
            margin-top: -10px;
        }
        .agentBox .agentQr {
            width: 60px;
            height: 60px;
            position: absolute;
            left: 5px;
            bottom: 5px;
        }
        .agentBox .info{
            color: #422110;
            text-align: right;
            padding-right: 120px;
        }
        .agentBox .info h1 {
            font-size: 14px;
            padding-top: 10px;
            font-weight: bold;
        }
        .agentBox .info h5 {
            margin-top: 5px;
            font-size: 12px;
        }
        .agentBox .agentThumb {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border:solid 3px #dcdcdc;
            position: absolute;
            right: 10px;
            bottom: 30px;
        }
        .agentBox .mobile{
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            right: 13px;
            bottom: 10px;
            color: #422110;
        }
    </style>
</head>
<body><nav id="menu" class="mm-menu mm-effect-slide-menu mm-pageshadow mm-offcanvas mm-hassearch"><div class="mm-search"><h3 id="logo1"></h3></div><div class="mm-panel mm-opened mm-current" id="mm-1"><div class="mm-noresultsmsg">No results found.</div><ul class="mm-listview mm-first mm-last">
    <li>
        <a class="active" href="/">首页</a>
    </li>
    <li><em class="mm-counter">4</em>
        <a class="mm-next" href="#mm-2" data-target="#mm-2"></a><a href="javascript:;" class="">佛州房产</a>

    </li>
    <li><em class="mm-counter">5</em>
        <a class="mm-next" href="#mm-3" data-target="#mm-3"></a><a href="javascript:;" class="">房产资讯</a>

    </li>
    <li>
        <a href="http://lisa.kylin66.com/articletype/7.html" class="">房产管理</a>
    </li>
    <li>
        <a href="http://lisa.kylin66.com/contact.html" class="">联系方式</a>
    </li>
</ul></div><div class="mm-panel mm-hasnavbar mm-hidden" id="mm-2"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-1" data-target="#mm-1"></a><a class="mm-title">佛州房产</a></div><ul class="subnav mm-listview mm-first mm-last">
    <li><a href="http://lisa.kylin66.com/housetype/2.html" target="_self">坦帕房产</a></li>
    <li><a href="http://lisa.kylin66.com/housetype/3.html" target="_self">棕榈滩房产</a></li>
    <li><a href="http://lisa.kylin66.com/housetype/4.html" target="_self">迈阿密房产</a></li>
    <li><a href="http://lisa.kylin66.com/housetype/5.html" target="_self">奥兰多房产</a></li>
</ul></div><div class="mm-panel mm-hasnavbar mm-hidden" id="mm-3"><div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-1" data-target="#mm-1"></a><a class="mm-title">房产资讯</a></div><ul class="subnav mm-listview mm-first mm-last">
    <li><a href="http://lisa.kylin66.com/articletype/2.html" target="_self">生活资讯</a></li>
    <li><a href="http://lisa.kylin66.com/articletype/3.html" target="_self">旅游信息</a></li>
    <li><a href="http://lisa.kylin66.com/articletype/4.html" target="_self">移民资讯</a></li>
    <li><a href="http://lisa.kylin66.com/articletype/5.html" target="_self">教育资讯</a></li>
    <li><a href="http://lisa.kylin66.com/articletype/6.html" target="_self">房产资讯</a></li>
</ul></div></nav>
<div id="mm-0" class="mm-page mm-slideout" style=""><div id="sitecontent" style="overflow:hidden;" class="">

    <div class="content indexPage">
        <div class="mm-head">
        </div>
        <div id="mm-slider">
            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 191px;"><ul class="slider" style="width: 315%; position: relative; transition-duration: 0s; transform: translate3d(-375px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 375px;" class="bx-clone">
                <a href="">
                    <div class="slider-img">
                        <img src="/uploads/20180729/02b1a2a2d98809dda8f720761f51b88a.gif">
                    </div>
                </a>
            </li>
                <li style="float: left; list-style: none; position: relative; width: 375px;">
                    <a href="">
                        <div class="slider-img">
                            <img src="/uploads/20180729/02b1a2a2d98809dda8f720761f51b88a.gif">
                        </div>
                    </a>
                </li>
                <li style="float: left; list-style: none; position: relative; width: 375px;" class="bx-clone">
                    <a href="">
                        <div class="slider-img">
                            <img src="/uploads/20180729/02b1a2a2d98809dda8f720761f51b88a.gif">
                        </div>
                    </a>
                </li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div></div><div class="bx-controls-direction"><a class="bx-prev disabled" href=""><i class="fa fa-angle-left"></i></a><a class="bx-next disabled" href=""><i class="fa fa-angle-right"></i></a></div></div></div>
        </div>
        <div class="agentBox">
            <img src="/uploads/20180730/50766477f8d191522400580330c580bb.jpg" class="agentQr" alt="微信二维码">
            <img src="/uploads/20180730/160c4721b03be10c1d23da1fc0255a0e.jpg" class="agentThumb" alt="头像">
            <div class="info">
                <h1> Lisa Ma 马琳</h1>
                <h5>微信号sunlisa888</h5>
                <h5>SL3087301</h5>
            </div>
            <p class="mobile">4077016598</p>
        </div>
        <div class="mlist project module">
            <div class="bgmask">
            </div>
            <div class="m_container">
                <div class="container_header wow animated  animated" style="visibility: visible;">
                    <p class="title" style="padding-top: 10px;">
                        热门房源
                    </p>
                    <p class="subtitle">
                        Hot
                    </p>
                </div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            <li id="item_block_0" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/56.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180828/fe52f184febe749ca17eb7e4933b41f1.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多度假屋推荐】Windsor at Westside佛州迪士尼热销成熟度假屋社区</p>
                                                <p class="subtitle ellipsis">30~59w</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_1" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/55.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180828/fa35bdd2546cb1ec60f1c0d2f087ceaa.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多度假屋推荐】冠军门Champions gate奥兰多最热门度假屋社区二期发售！</p>
                                                <p class="subtitle ellipsis">26~55w</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_2" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/54.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180828/e644c3db722783df6b18c725ea5e3a1a.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多好学区房推荐】Panther View全新智能家居高尔夫球社区！</p>
                                                <p class="subtitle ellipsis">32w起</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_3" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/6.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180729/f4ced800a76af032314a8247c396d92c.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多度假屋推荐】Solara全新大型度假屋社区！海南VS佛州</p>
                                                <p class="subtitle ellipsis">30-55w</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_4" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/4.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180729/7b517fb9af633238f87f1205d50e4cc7.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多医疗城Lake Nona好学区房推荐】 Moss Park第五期独栋别墅社区28万美金起！</p>
                                                <p class="subtitle ellipsis">28w起</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_5" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/housedetail/253.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20181030/d3445da41a5552b56aa3f544267fcea7.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">【奥兰多度假屋推荐 】迪士尼核心区最新Zenodro联排别墅25w美元起</p>
                                                <p class="subtitle ellipsis">$249,900起</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="http://lisa.kylin66.com/housetype/1.html" class="more wow animated" style="animation-delay: 0.5s; visibility: visible;">更多<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="mlist project module">
            <div class="bgmask">
            </div>
            <div class="m_container">
                <div class="container_header wow animated  animated" style="visibility: visible;">
                    <p class="title" style="padding-top: 10px;">
                        房产管理
                    </p>
                    <p class="subtitle">
                        Hot
                    </p>
                </div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            <li id="item_block_0" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/9.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180729/374385365e105693d0295305c6d2d179.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">度假屋管理服务</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_1" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/8.html" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/uploads/20180729/b862dd56718476041943c28fd3d98786.jpg">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">长期管理服务</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="http://lisa.kylin66.com/articletype/7.html" class="more wow animated" style="animation-delay: 0.5s; visibility: visible;">更多<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="mlist team module">
            <div class="bgmask">
            </div>
            <div class="m_container">
                <div class="container_header wow animated  animated" style="visibility: visible;">
                    <p class="title">
                        服务承诺
                    </p>
                    <p class="subtitle">
                        Service
                    </p>
                </div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            <li id="item_block_0" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="javascript:;" class="item_box">
                                    <div class="item_img" target="_blank">
                                        <img src="/static/mobile_agent/picture/icon_zs.png">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">
                                                    真实
                                                </p>
                                                <p class="subtitle ellipsis">
                                                    高清图片，真实信息展现
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_1" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="javascript:;" class="item_box">
                                    <div class="item_img">
                                        <img src="/static/mobile_agent/picture/icon_js.png">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">
                                                    及时
                                                </p>
                                                <p class="subtitle ellipsis">
                                                    直联顾问个人，沟通快无骚扰
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_2" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="javascript:;" class="item_box">
                                    <div class="item_img">
                                        <img src="/static/mobile_agent/picture/icon_zy.png">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">
                                                    专业
                                                </p>
                                                <p class="subtitle ellipsis">
                                                    近百名考核认证顾问为您服务
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_3" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="javascript:;" class="item_box">
                                    <div class="item_img">
                                        <img src="/static/mobile_agent/picture/icon_zya.png">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">
                                                    自由
                                                </p>
                                                <p class="subtitle ellipsis">
                                                    信息分享随心所欲
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_4" class="item_block wow animated" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="javascript:;" class="item_box">
                                    <div class="item_img">
                                        <img src="/static/mobile_agent/picture/icon_fx.png">
                                        <div class="item_mask">
                                        </div>
                                    </div>
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <div class="text_wrap">
                                                <p class="title ellipsis">
                                                    放心
                                                </p>
                                                <p class="subtitle ellipsis">
                                                    专职顾问全程指导服务
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="mlist news module">
            <div class="bgmask">
            </div>
            <div class="m_container">
                <div class="container_header wow animated  animated" style="visibility: visible;">
                    <p class="title">
                        相关资讯
                    </p>
                    <p class="subtitle">
                        News
                    </p>
                </div>
                <div class="content">
                    <div class="wrapper">
                        <ul class="content_list clearfix">
                            <li id="item_block_0" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/26.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">想投资奥兰多？先看完这篇文章再说！</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-08-06</p>
                                        <div class="item_des">
                                            <p class="description">奥兰多那些你不知道的事</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_1" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/12.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">买美国房产合理避税16招 点开立值百万 别怪我没讲！</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-07-31</p>
                                        <div class="item_des">
                                            <p class="description">购置美国房地产以后每年都需要缴纳房产税，这是一个美国购房者应有的“常识”。在小编公布那些合理避税的招数之前，我们先来了解下，房产税到底如何定义？有何用途？美国的房产税和中国房地产税又有和区别？</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_2" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/13.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">在美国买房子应该买在谁的名下&amp;为什么这么多投资者把美国出租房放到LLC中？</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-07-31</p>
                                        <div class="item_des">
                                            <p class="description">在美国买房子应该买在谁的名下?
                                                买房必然要涉及到产权，那么房子应该买在谁的名下？要从三个方面来考虑:资产能够得到保护，税收能够减少，传承流畅，当然每个人的情况各不相同，需求也各不一样，但是总有一种名字会适合自己。</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_3" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/49.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">麒麟地产服务标准</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-09-19</p>
                                        <div class="item_des">
                                            <p class="description">麒麟地产服务协议简介麒麟地产拥有上百位经纪人和专职房屋管理人员，主要经营房屋买卖、长租管理、度假屋短租管理、中文地产学校和房产开发五个板块。在提供专业的售前，售中服务的同</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_4" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/127.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">美国看病有多贵？看个急诊分分钟买房子的钱都没有了</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-11-08</p>
                                        <div class="item_des">
                                            <p class="description">几乎所有人都上过医院看过病，从挂号到就医，充斥着无尽的困扰。其中最大的困扰应该就是“贵”了！看病难、看病贵”在中国似乎成了社会共识，许多家庭“因病致贫”。



                                                但是，外国的月亮就一定比较圆吗？那你就naive了！



                                                当你了解美国的医疗费用之后，你就明白为什么会有那么多华人选择回国看病了。</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_5" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/126.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">美国纳税学问多！美国房产在不同阶段的税费及如何避税？</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-11-08</p>
                                        <div class="item_des">
                                            <p class="description">美国房产不同阶段税费一览</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_6" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/125.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">“假华侨”考200分就能上211？华侨生报考资格新规来了</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-11-07</p>
                                        <div class="item_des">
                                            <p class="description">今天，我们先来说说“假华侨考生”。



                                                200分上“211”、400分上“985”？



                                                一直以来，有教育培训机构打出这样的广告：200分能上“211”，400分能上“985”。



                                                华侨生联考这条“名校捷径”也渐渐浮出水面！



                                                华侨生联考培训的路子基本是：家长向培训机构交几十万元，中介帮内地考生变身“华侨生”，有资格参加华侨生全国联招，低分都能上好学校。

                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li id="item_block_7" class="item_block wow" style="visibility: visible; animation-name: fadeInUp;">
                                <a href="http://lisa.kylin66.com/articledetail/124.html" class="item_box">
                                    <div class="item_wrapper clearfix">
                                        <div class="item_info clearfix">
                                            <p class="title ellipsis">在美国当地主比你想的难！如何投资租赁美国房地产？</p>
                                            <p class="subtitle ellipsis"></p>
                                        </div>
                                        <p class="date_wrap">2018-11-07</p>
                                        <div class="item_des">
                                            <p class="description">房地产投资可为你提供稳定的收入流，该收入在房地产支付后几乎全部成为利润。然而，要做到这一点是有风险的，需要做的工作比看起来要多许多。房地产投资需要你选择一处不错的房产，维护其财产，并且无限期地交易租户，直至足以雇用一名房产经纪进行管理。本文将为你详细介绍如何投资租赁房地产。</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a href="http://lisa.kylin66.com/articledetail/124.html" class="more wow animated" style="animation-delay: 0.5s; visibility: visible;">更多<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="mcontact" class="mlist module">
            <div class="container_header">
                <p class="title">
                    联系我们
                </p>
                <p class="subtitle">
                    Contact Us
                </p>
            </div>
            <div class="contactlist plr10">
                <div class="contactinfo">
                    <p class="ellipsis contact_add">
                        联系电话：4077016598                    </p>
                    <p class="ellipsis contact_add">
                        微信号：sunlisa888                     </p>
                    <p class="ellipsis contact_add">
                        Email：sunorlando8@gmail.com                    </p>
                    <p class="ellipsis contact_add">
                        公司：Kylin Realty LLC                    </p>
                    <p class="ellipsis contact_tel">
                        地址：5168 W Colonial Dr,Orlando,FL 32808                    </p>
                    <p class="ellipsis contact_tel">
                        电话（中国）：400-060-5090
                    </p>
                </div>
            </div>
        </div>
        <!--联系-->
    </div>
    <div id="footer">
        <p><span style="width: auto;">美国麒麟地产 info@kylinus.com 版权所有</span></p>
    </div>


</div><div style="height: 50px;width: 100%;"></div><div class="agentbot col-100">
    <a href="/" class="external">
        <img src="/uploads/20180730/160c4721b03be10c1d23da1fc0255a0e.jpg" alt="" class="loading-img">
        <div class="loading2">
        </div>
        <span class="loading-span">首页</span>
    </a>
    <div class="lefttext color-white">
		<span class="display-block textover">
		<a href="/" class="external"> Lisa Ma 马琳</a>
		</span>
        <a href="/" class="external color-white">4077016598</a>
    </div>
    <ul class="rightbtn pull-right">
        <li>
            <span class="alert-weixin pointer"><img src="/static/mobile_agent/images/wechat.png" alt=""></span>
        </li>
        <li>
            <a href="tel:4077016598" class="external"><img src="/static/mobile_agent/images/call.png" alt=""></a>
        </li>
        <li>
            <a href="sms:4077016598" class="open-info"><img src="/static/mobile_agent/images/sms.png" alt=""></a>
        </li>
    </ul>
</div><div class="wxbox">
    <div class="msk"></div>
    <div id="wx">
        <img src="/uploads/20180730/50766477f8d191522400580330c580bb.jpg" alt="微信二维码">
        <p>长按添加微信</p>
        <button>关闭</button>
    </div>
</div></div>
<style>
    .agentbot{
        position: fixed;
        width: 96%;
        left:0;
        bottom: 0;
        height: 40px;
        padding: 5px 2%;
        z-index: 9000;
        background-color: rgba(0,0,0,0.8);
    }
    .agentbot .lefttext{
        display: inline-block;
        line-height: 18px;
        position: relative;
        margin: 0 auto;
        left: -20px;
        width: 45%;
        top: -6px;
    }
    .agentbot .rightbtn{
        display: inline-block;
        position: relative;
    }
    .agentbot .rightbtn li{
        display: inline-block;
        padding: 3px 0 2px 0;
        margin-left:3px;
        height: 33px;
        width: 33px;
    }
    .agentbot .rightbtn li img{
        height: 35px;
        width: 35px;
    }
    .loading2{
        width: 42px;
        height: 42px;
        top:-16px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        left: 0;
        border:2px solid lightgreen;
        -webkit-animation: turngray 2s linear infinite;
    }
    .loading-img{
        position:absolute;
        top:-10px;

        left:calc(2% + 1px);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        z-index: 9999;
    }
    .loading-span{
        left: -37px;
        top:-4px;
        font-size: 10px;
        position: relative;
        color: #FFFFFF;
    }
    .loading span{
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: lightgreen;
        position: absolute;
        left: 50%;
        margin-top: -3px;
        margin-left: -3px;
        -webkit-animation: changeBgColor 2s linear infinite;
    }
    .loading2 span{
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: lightgreen;
        position: absolute;
        left: 50%;
        margin-top: -3px;
        margin-left: -3px;
        -webkit-animation: changeBgColor 2s linear infinite;
    }
    @-webkit-keyframes changeBgColor{
        0%{
            background: #fff;
        }
        100%{
            background: #666;
        }
    }
    @-webkit-keyframes turn{
        0%{
            -webkit-transform: rotate(0deg);
            border-color: #fff;
        }
        100%{
            -webkit-transform: rotate(360deg);
            border-color: #666;
        }
    }
    @-webkit-keyframes turngray{
        0%{
            -webkit-transform: rotate(0deg);
            border-color: #333;
        }
        100%{
            -webkit-transform: rotate(360deg);
            border-color: #fff;
        }
    }
    .color-white {
        color: #ffffff;
    }
    .textover{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .display-block{
        display: block !important;
    }
</style>


<style>
    .wxbox{display: none;position: relative;z-index: 999999;}
    #wx{position: fixed;width:200px;padding:10px;background: #FFFFFF;left: 50%;top: 50%;margin-left: -105px;margin-top: -105px;border-radius: 5px;}
    #wx img{width: 200px;height: 200px;}
    #wx p{text-align: center;font-size: 12px;color: #666666;margin: 10px 0;}
    #wx button{background: #6388cf;height: 30px;width: 200px;border: none;color: #FFFFFF;border-radius: 5px;}
    .wxbox .msk{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.5);}
</style>

<script>
    $(".alert-weixin").click(function () {
        $(".wxbox").show();
    });
    $("#wx button").click(function () {
        $(".wxbox").hide();
    });
</script>

<div id="mm-blocker" class="mm-slideout"></div><div id="header" class="mm-fixed mm-slideout">
    <a href="#menu" class="mm-hbtn">
        <div class="lcbody">
            <div class="lcitem top">
                <div class="rect top">
                </div>
            </div>
            <div class="lcitem bottom">
                <div class="rect bottom">
                </div>
            </div>
        </div>
    </a>
    <a class="mm-hlogo" style="top: 0;color: #000;" href="/"><h1>麒麟地产 做房东 赚美元</h1></a>
</div></body></html>