{include file="public/m_header" /}
{include file="public/m_agent_page_header" /}
<section class="sub-nav">
    <?php
        $list=db('ads_data')->where('aid',11)->where('show',1)->select();
    ?>
    {volist name="list" id="v"}
    <a class="{if input('param.id')==$v.id}on{/if}" href="{:url('index/mobile/page?id='.$v['id'])}?{:lang('home')}">{$v.title}</a>
    {/volist}
</section>
<section class="content-inner">
    <div class="content">
        {$d.content|raw}
    </div>
</section>
{include file="public/m_agent_footer" /}

