.agentBox {
    position: relative;
    z-index: 9998;
    height: 75px;
    width: 100%;
    /* background: url('/static/mobile_agent/images/bg.jpg') no-repeat 0 0;
    background-size: 100% 100%; */
    background-color:#ece9e9;
    margin-top: -10px;
    color:#615e5e;
    box-shadow:5px 5px 10px #999;
}

.agentBox .agentQr {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.agentBox .agentThumb {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px #dcdcdc;
    position: absolute;
    right: 10px;
    bottom: 30px;
}

.agentBox .info {
    color: #615e5e;
    text-align: right;
    padding-right: 120px;
}
.agentBox .info h1 {
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
}
.agentBox .info h5 {
    margin-top: 5px;
    font-size: 12px;
}
.agentBox .mobile {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 13px;
    bottom: 10px;
    color: #615e5e;
}
.agentbot{
    position: fixed;
    width: 100%;
    left:0;
    bottom: 0;
    padding: 5px 2%;
    z-index: 9000;
    background-color: rgba(0,0,0,0.8);
}
.agentbot .lefttext{
    display: inline-block;
    line-height: 18px;
    position: relative;
    margin: 0 auto;
    left: -20px;
    top: -6px;
}
.agentbot .rightbtn{
    display: inline-block;
    position: relative;
}
.agentbot .rightbtn li{
    display: inline-block;
    padding: 3px 0 2px 0;
    margin-left:3px;
    height: 33px;
    width: 33px;
}
.agentbot .rightbtn li img{
    height: 35px;
    width: 35px;
}
.loading2{
    width: 42px;
    height: 42px;
    top:-16px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 0;
    border:2px solid lightgreen;
    -webkit-animation: turngray 2s linear infinite;
}
.loading-img{
    position:absolute;
    top:-10px;

    left:calc(2% + 1px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 9999;
}
.loading-span{
    left: -37px;
    top:-4px;
    font-size: 10px;
    position: relative;
    color: #FFFFFF;
}
.loading span{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    -webkit-animation: changeBgColor 2s linear infinite;
}
.loading2 span{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    -webkit-animation: changeBgColor 2s linear infinite;
}
@-webkit-keyframes changeBgColor{
    0%{
        background: #fff;
    }
    100%{
        background: #666;
    }
}
@-webkit-keyframes turn{
    0%{
        -webkit-transform: rotate(0deg);
        border-color: #fff;
    }
    100%{
        -webkit-transform: rotate(360deg);
        border-color: #666;
    }
}
@-webkit-keyframes turngray{
    0%{
        -webkit-transform: rotate(0deg);
        border-color: #333;
    }
    100%{
        -webkit-transform: rotate(360deg);
        border-color: #fff;
    }
}
.color-white {
    color: #ffffff;
}
.textover{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.display-block{
    display: block !important;
}

.wxbox{display: none;position: relative;z-index: 999999;}
#wx{position: fixed;width:220px;padding:10px;background: #FFFFFF;left: 50%;top: 50%;margin-left: -105px;margin-top: -105px;border-radius: 5px;}
#wx img{width: 200px;height: 200px;}
#wx p{text-align: center;font-size: 12px;color: #666666;margin: 10px 0;}
#wx button{background: #6388cf;height: 30px;width: 200px;border: none;color: #FFFFFF;border-radius: 5px;}
.wxbox .msk{position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.5);}
.pull-right {
    float: right;
}