{include file="public/agentone_header" /}
{include file="public/agentone_nav" /}
<div class="content-block">
    <div class="housing-detail-col-2 clearfix event_content mt10 mb10">
        <div class="col-2-left left-menu">
            <div class="m-title">{:lang('Realestateinformation')}</div>
            <ul>
                {volist name="articleTag" id="v"}
                <li><a href="{:url('index/agentone/listArticle',['tag'=>$v])}?lang={$lang}" class="{if input('param.tag')==$v}on{/if}">{$v}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="col-2-left left-news">
            {if !input('?param.page') || input('param.page')==1}
            <div class="news-swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {volist name="listArticle" id="v" length="5"}
                        <div class="swiper-slide"><a href="{:url('index/agentone/showArticle',['id'=>$v.id])}?lang={$lang}"><img src="{$v.thumb}" alt="{$v.title}">
                            <div class="desc"><p>{$v.title}</p></div>
                        </a></div>
                        {/volist}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            {/if}
            <div class="news clearfix">
                {if !input('?param.page') || input('param.page')==1}
                {volist name="listArticle" id="v" offset="5"}
                <li>
                    {if $v.thumb}
                    <div class="thumb">
                        <a href="{:url('index/agentone/showArticle',['id'=>$v.id])}?lang={$lang}"><img src="{:thumb($v.thumb,160,120)}"></a>
                    </div>
                    {/if}
                    <div class="item-txt">
                        <a href="{:url('index/agentone/showArticle',['id'=>$v.id])}?lang={$lang}" target="_blank"><p class="tit">{$v.title}</p></a>
                        <div class="mini-tit">
                            <span class="card" style="margin-right: 5px">{$v.form}</span>
                            <span class="hot">{:lang('temperature')}：<span class="c1">{$v.hits}℃</span></span>
                            <span class="time">{$v.addtime}</span>
                        </div>
                        <div class="txt-main">
                            {$v.description}
                        </div>
                    </div>
                </li>
                {/volist}
                {else}
                {volist name="listArticle" id="v"}
                <li>
                    {if $v.thumb}
                    <div class="thumb">
                        <a href="{:url('index/agentone/showArticle',['id'=>$v.id])}?lang={$lang}"><img src="{:thumb($v.thumb,160,120)}"></a>
                    </div>
                    {/if}
                    <div class="item-txt">
                        <a href="{:url('index/agentone/showArticle',['id'=>$v.id])}?lang={$lang}" target="_blank"><p class="tit">{$v.title}</p></a>
                        <div class="mini-tit">
                            {volist name="v.tag" id="tag"}
                            <span class="card" style="margin-right: 5px">{$tag}</span>
                            {/volist}
                            <span class="hot">{:lang('temperature')}：<span class="c1">{$v.hits}℃</span></span>
                            <span class="time">{$v.addtime}</span>
                        </div>
                        <div class="txt-main">
                            {$v.description}
                        </div>
                    </div>
                </li>
                {/volist}
                {/if}
            </div>
            <div class="pt30">
                <div class="mod_page" align="center">{$listArticle|raw}</div>
            </div>
        </div>
        <div class="col-2-right">
            {include file="public/side" /}
        </div>
    </div>
</div>
{include file="public/agentone_footer" /}
