<div class="agentbot col-100">
    <a href="/index/magents/index.html?aid={$agent_id}" class="external">
        <img src="{$agent.photo}" alt="" class="loading-img">
        <div class="loading2">
        </div>
        <span class="loading-span">{:lang('home')}</span>
    </a>
    <div class="lefttext color-white">
		<span class="display-block textover">
		<a href="/" class="external"> {$agent.name}</a>
		</span>
        <a href="/" class="external color-white">{$agent.phone}</a>
    </div>
    <ul class="rightbtn pull-right">
        <li>
            <span class="alert-weixin pointer"><img src="http://lisa.kylin66.com/res/static/images/wechat.png" alt=""></span>
        </li>
        <li>
            <a href="tel:{$agent.phone}" class="external"><img src="http://lisa.kylin66.com/res/static/images/call.png" alt=""></a>
        </li>
        <li>
            <a href="sms:{$agent.email}" class="open-info"><img src="http://lisa.kylin66.com/res/static/images/sms.png" alt=""></a>
        </li>
    </ul>
</div>

<div class="wxbox">
    <div class="msk"></div>
    <div id="wx">
        <img src="/uploads/20190212/63a416632242310bd0aeb95950a5608b.jpg" alt="微信二维码">
        <p>{:lang('Longpresstoadd')}</p>
        <button>{:lang('Close')}</button>
    </div>
</div>

{volist name="wechat_info" id="v"}
<div class="wechatInfo">
    <div class="mask"></div>
    <div class="inner">
        <h3>{$v.title}</h3>
        <div class="qr"><img width="200" src="{$v.thumb}" alt=""></div>
        <div class="copyWeixin" data-clipboard-text="{$v.code}">{:lang('ClickonCopyMicrosignal')}</div>
    </div>
</div>
{/volist}
<footer class="footer">
    <div class="top">
        <a href="" class="top-logo"><img src="/res/m/images/logo-a.png" alt=""></a>
        <div class="top-info">
            {volist name="contact_list" id="v"}
            {$v.code|raw}
            {/volist}
        </div>
    </div>
    <div class="copyright" style="padding-left:10px;padding-right:10px">
        <div class="footer-quick" >
            {volist name="ylink" id="v"}
            <a class="quick-item" href="{$v.url}">{$v.title}</a>
            {/volist}
            
        </div>
        <div class="copy">Copyright © {:date("Y")} {:request()->rootDomain()} Inc. All Rights Reserved.</div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.4/dist/clipboard.min.js"></script>
<script src="__RES__/m/js/dropload.min.js"></script>
<script src="__RES__/m/js/main.js"></script>

<script>
    $(".alert-weixin").click(function () {
        $(".wxbox").show();
    });
    $("#wx button").click(function () {
        $(".wxbox").hide();
    });
   
    $('.dropload-refresh').html('↑{:lang("Pulluptoloadmore")}');
</script>
</div>
</body>
</html>
